vllm
unsloth
transformer
torch
langchain-openai
langchain-qdrant
qdrant-client
pydantic-settings
fastapi
uvicorn
pymongo
python-jose[cryptography]
passlib[bcrypt]
python-multipart
email-validator
wandb
marker-pdf
