vllm
unsloth
transformers
torch
langchain-openai
langchain-qdrant
langchain-huggingface
langchain-community
langchain-classic
langchain-text-splitters
qdrant-client
sentence-transformers
pydantic-settings
fastapi
uvicorn
pymongo
python-jose[cryptography]
passlib[bcrypt]
python-multipart
email-validator
wandb
marker-pdf
